# ======================== Filebeat Hata Düzeltme =========================
# Logstash kullanırken bu ayarlar kapatılmalıdır
setup.ilm.enabled: false
setup.template.enabled: false
# =====================================================================
# ======================== Filebeat inputs =========================
filebeat.inputs:

  # Nginx logları için Filestream input
  - type: filestream
    id: nginx-logs
    enabled: true
    paths:
      - /var/log/nginx/*.log
    tags: ["nginx"]
    fields:
      log_type: nginx
    fields_under_root: true

  # Java uygulama logları için Filestream input
  - type: filestream
    id: java-logs
    enabled: true
    paths:
      - /var/log/java-app/*.log
    tags: ["java"]
    fields:
      log_type: java
    fields_under_root: true
    
    # JSON ayarları 'parsers' altına taşındı
    parsers:
      - ndjson:
          keys_under_root: true
          add_error_key: true
          message_key: log

# ======================== Filebeat modules =========================
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 10s

# ======================== Filebeat registry =========================
filebeat.registry.path: /usr/share/filebeat/data/registry

# ======================== Logstash Output =========================
output.logstash:
  hosts: ["logstash:5044"]
  worker: 2
  loadbalance: true

# ======================== Logging =========================
logging.level: info
logging.to_stderr: true

# ======================== Processors =========================
processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~